/*css*/
html {
    margin-left : auto;
    margin-right : auto;
    padding : 0 25px 0 25px;
}
body {
    width : 1150px;
    display : block;
    margin : auto;
}
header {
    height : 80px;
    margin-top : 5px;
}
#divhead{
    clear:both;
}
#divhead ul li{
    height : 25px;
    margin : 0px;
    padding-top : 0px;
}
#divhead ul li a{
   display: block;
   text-align: center;
   text-decoration: none;
   width : 80px;
   background-color : lightgrey;
   font-size : 0.8em;
   padding-top : 5px;
}
#divhead ul li a:hover{
    background-color : black;
    color:white;
}
#hr1 {
   padding : 0.04em;
   background : #2ecc71;
   border : 0;
}
header h2 {
    float : left;
}
#tit {
    margin-left : 20px;
    margin-bottom : 14px;
}
#corps {
    clear : both;
    margin-top : 10px;
}
#lang {
    width : 135px;
    float : right;
    margin : 15px 45px 0 0;
}
#lang a {
    text-decoration : none;
    color : black;
}
#lang a:hover {
    text-decoration : underline
}
#lang img {
        margin-right : 3px;
}
#left{
    width : 200px;
    float: left;
    height : 500px;
}
#leftdiv {
    background-color : red;
    margin : 0 5px 0 5px;
}
#main {
    text-align : center;
    border-left : 1px solid grey;
    border-right : 1px solid grey;
    margin : 0 5px 0 5px;
    width : 730px;
    height : 800px;
    float : left;
}
#right{
    width : 200px;
    float: left;
    height : 500px;
}
#rightdiv{
    background-color : lightblue;
    margin : 0 5px 0 5px;
}
#top1{
    /* margin-left : auto;
    margin-right : auto; */
    float : left;
    width : 450px;
    margin-left : 23px;
}
#top2{
    width : 680px;
    /* margin-left : auto;
    margin-right : auto; */
    float : left;
    margin-left : 25px;
    border : 1px solid grey;
}
footer {
    clear : both;
    height : 130px;
    background-color : #222;
}
 ul {
     list-style-type: none;
     margin: 0px;
     padding : 0;
     overflow: hidden;
 }
 li {
     float: left;
     /*background-color: lightBlue;*/
     border : 1px solid lightGrey;
     height : 32px;
     margin : 0 2px 0 2px;
 }
 li a {
     display: block;
     text-align: center;
     padding: 10px;
     text-decoration: none;
     width : 70px;
     background-color : lightyellow;
 }
 li a:hover{
     background-color: Ivory;
 }